$bc_color:#252839;
$color_white:white;
$color_black:black;


.boutique_image{
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap:wrap;
}

.boutique{
  background:$color_white;
  color:$color_black;
}

.boutique h2{
  text-align: center;
  margin:0;
  padding-top:10px;
}

.boutique_image img{
  width:130px;
  margin:10px 0;
  height:auto;
}

@media screen and (min-width: 600px) {
  .boutique_image img{
    width:20%;
    margin:10px 5%;
  }
}
