

.histoire_anniversaire{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  height:100%;
}

.histoire_anniversaire p{
  text-align:justify;
  margin:5px;
}

.histoire_anniversaire iframe{
  width:90vw;
}
.histoire_anniversaire_titre{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width:100vw;
  padding-left:10%;
}


@media screen and (min-width: 600px) {

  .histoire_anniversaire{
    height:70vh;
    width:50vw;
  }
  .histoire_anniversaire iframe{
    width:30vw;
  }
  .histoire_anniversaire_titre{
     align-items: center;
    justify-content: center;
    padding:0 0;
    width:50vw;
  }
  .histoire_anniversaire_titre hr{
    height:3px;
    background:black;
    width:30%;
  }
}
