
.justice p {
  text-align: justify;
  margin:5px;
}

.justice img{
  width:80%;
}
.justice {
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.justice_description {
  background: #252839;
  color:white;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.justice_description iframe{
}

.justice_live {
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.justice_live h3 {
    text-align: center;

}

.justice_live iframe{
  width:80vw;
  height:auto;
}

@media screen and (min-width: 600px) {
  .justice_description, .justice_live {
    width:50vw;
    height:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
  }

  .justice_description{
    background: white;
    color:black;
  }

  .justice_live{
    background: #252839;
    color:white;
  }

  .justice{
    height:70vh;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }

  .justice_live iframe{
    height:315px;
    width:560px;
  }
}

@media screen and (max-width: 950px){
  .justice_live iframe{
    height:157px;
    width:280px;
  }
}
