

<!DOCTYPE html>
<html>
  <head>
    <title>Ed Banger Records</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script type="text/javascript" src="js/script.js"></script>
  </head>
  <body>
    <header>
    </header>

<section class="accueil">
  <div class="accueil_image">
  </div>
</section>

<section class="history">
  <div class="history_content">
    <h2>Notre Histoire</h2>
    <img src="/img/Ed_banger.jpg">
    <p>Ed Banger Records est un label français de musique électronique. Il a été fondé en 2003 par l'ancien manager de Daft Punk, Pedro Winter (alias Busy P), comme une division de sa société Headbangers Entertainment. Le label commence à être connu avec le succès du Groupe Justice en 2007.</p>
  </div>
</section>

<section class="anniversaire">
  <h2>Les 15 ans du label</h2>
  <p>Pour fêter les 15 ans du label, Ed Banger Records a invité l'orchestre symphonique Lamoureux à réinterpréter les titres les plus iconiques des artistes maison au Grand Rex. Ce live s'est déroulé samedi 31 mars, et il est possible de le revoir sur cette vidéo.
  </p>
  <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FCulturebox%2Fvideos%2F10156374842019656%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
</section>

<section class="justice">
  <div class="justice_desctiption">
    <h2>Le succès d'Ed Banger' :</br> Justice</h2>
    <img src="/img/justice.jpg">
    <p>Justice, est un groupe de musique électronique français, originaire de Paris. Formé en 2003, le groupe est composé de Gaspard Augé et de Xavier de Rosnay1. Apparu pour la première fois sous le label Musclorecords, dont Gaspard Augé est à l'époque le graphiste, le duo réalise un premier morceau intitulé Sure You Will, un hommage au groupe The Buggles, aux accents rock 'n' roll-pop avec un zeste électronique. Leur premier album studio, intitulé † (prononcé Cross en anglais), est publié le 11 juin 2007 en Europe, et bien accueilli par la presse spécialisée. S'ensuit la sortie du deuxième album du groupe annoncé pour le 24 octobre 2011 intitulé Audio, Video, Disco. Un troisième album studio, Woman, est publié en 2016.</p>
  </div>
  <div class="justice_live">
    <h3>Un live à couper le souffle</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WiNvw0He0OE?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <p>Depuis leurs débuts, les gars de Justice ont toujours eu la réputation d’être impressionnants sur scène. La dernière tournée a été un tournant. Autant musicalement (le duo français ayant su exploiter ses trois albums avec brio pour mettre une bonne claque au public), que scéniquement. Entre un jeu de lumières puissant, des structures métalliques aux allures de touches de piano géantes, les fameux amplis Marshall et le fait de voir de près et de profil les intéressés, Justice avait mis le paquet.
    </p>
  </div>
</section>

<section class="boutique">

</section>



