@import 'blocs/header';
@import 'blocs/footer';

@font-face {
 font-family: "Roboto";
 src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

h1 {
  color: brown;
  font-family: "Roboto", Arial;
  z-index:1000;

  &:hover {
    color: green;
  }
}

.bc_image{

height:100vh;
width:100%;
background-image:url(../img/cross.png);
background-position: center;
}

.bc_image_full{



}
