@import 'blocs/header';
@import 'blocs/footer';
@import 'blocs/accueil';
@import 'blocs/histoire';
@import 'blocs/histoire_resume';
@import 'blocs/histoire_anniversaire';
@import 'blocs/paralax';
@import 'blocs/justice';
@import 'blocs/boutique';

@font-face {
 font-family: "Roboto";
 src: url("./../fonts/Roboto-Regular.ttf") format("truetype");
}

h1 {
  color: brown;
  font-family: "Roboto", Arial;
  z-index:1000;

  &:hover {
    color: green;
  }
}

body,html{
  margin:0;
}


