@import 'blocs/header';
@import 'blocs/footer';

@font-face {
 font-family: "Roboto";
 src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

h1 {
  color: brown;
  font-family: "Roboto", Arial;
  z-index:1000;

  &:hover {
    color: green;
  }
}

.bc_image{


}

.bc_image>img{

height:100vh;
width:100%;



}
